/****************************************************** ASIDE ****************************************/

aside {
    padding-top: 20px;
}

.as-h3 {
    font-size: 45px;
    color: black;
    margin: 2rem 0 2rem 0;
    overflow: hidden;
    border-bottom: 2px solid blueviolet;
}

.grid-container {
    margin-bottom: 6rem;
}




/* productos.html */



/* contacto.html */

aside {
    padding: 0px;
}

.frequenceQuestions {
    background-image: url(../Imagenes/valuesBackground.jpg);
    @extend %roll-img-effect;

    h3 {
        margin: 15px;
        font-family: 'Advent';
    }

    div {
        display: flex;
        text-align: center;
        font-family: 'Advent';
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;

        div {
            margin-bottom: 25px;

            i {
                margin-top: 2px;
            
                cursor: pointer;
            }
            
        }
        
    }
}



/************************************ FIN DEL ASIDE *************************************************/