/****************************************************** ASIDE ****************************************/

aside {
    padding-top: 20px;
}

.as-h3 {
    font-size: 45px;
    color: black;
    margin: 2rem 0 2rem 0;
    overflow: hidden;
    border-bottom: 2px solid blueviolet;
}

.grid-container {
    margin-bottom: 6rem;
}




/* productos.html */






/************************************ FIN DEL ASIDE *************************************************/